* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    font-family: 'Rubik', sans-serif;
    font-size: 23px;
    color: black;
    text-decoration: none;

}

.logo::first-letter {
    font-weight: bold;
}

span {
    color: #FDC04E;
    font-weight: bold;
}

.menu-button {
    width: 17px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-top: 3px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 13px;
}

/*main section */

.title-container {
    padding: 50px 10px 0px 10px;
}

.main-section h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    color: #212529;
    font-weight: 800;
    width: 100%;
    line-height: 50px;
    margin-bottom: 26px;
}

.main-section p {
    font-family: 'Rubik', sans-serif;
    font-size: 23px;
    width: 75%;
    line-height: 35px;
    color: rgb(108, 117, 125);
    margin-bottom: 17px;
}

.clickable {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 105px;

}

.sj {
    padding: 0.5rem 1.5rem;
    background-color: #FDC04E;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    border-radius: 50px;
    border: none;
    color: black;
    font-weight: 700;


}

.lm {
    padding: 0.5rem 1.5rem;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    border-radius: 50px;
    background-color: #FEFCEC;
    border: 1px solid #FDC04E;
    font-weight: 700;
    margin-top: 10px;


}

.mock-up {
    width: 100%;
    height: auto;
    background-color: #FDC04E;
    border: none;
    border-radius: 2rem;
    margin-top: 1.4rem;
    padding-top: 4rem;
    display: flex;
}

.mock-up img {
    width: 100%;
    padding: 0px 15px;
    height: auto;


}

/* sub-section */

.sub-section {
    padding-top: 6rem;
}

.sub-section h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #212529;
    padding: 2rem 0px;
    font-weight: 700;
    text-align: center;
}

.brandlogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.brandlogo img {

    width: 10rem;
    height: auto;
    justify-content: center;
    flex: 1;

}

.brandlogo img:nth-child(4) {
    margin-top: 4rem;
}

/* sec-subsection */

.sec-subsection h3 {
    padding-top: 5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 9px;
}

.image-container {

    width: 100%;
    height: auto;
    padding: 5rem 10px 0px 10px;


}

.image-container img {
    width: 100%;
    margin: auto;
    height: auto;
}

.features {
    padding-bottom: 140px;
}

.cardbody h4 {
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-bottom: 9px;
}

.cardbody p {
    color: rgba(108, 117, 125, 1);
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 1.25rem;
    line-height: 30px;
}

.cardbody a {
    color: #FDC04E;
    font-family: 'Rubik', sans-serif;
    text-decoration: underline;
}

.card1 {
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;

}

.cardbody {
    width: 50%;
}

.icon1 img {
    width: 85px;
    height: 85px;
}

.cardbody a {
    font-size: 17px;
    font-family: 'Rubik', sans-serif;

}

.card2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.icon2 img {
    width: 85px;
    height: 85px;
}

.card3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.icon3 img {
    width: 85px;
    height: 85px;
}

.card4 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.icon4 img {
    width: 85px;
    height: 85px;
}

.course-info h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    padding-top: 70px;
    margin-bottom: 18px;

}

.course-info p {
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: rgba(108, 117, 125, 1);
    line-height: 1.5;
}

/* course card */

.course-card {

    margin-top: 120px;


}

.card-container img {
    height: auto;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;


}

.card-container {
    height: 100%;
    width: 95%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    margin-bottom: 52px;

}

.card-container h3 {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    width: 90%;
    margin: auto;
    margin-bottom: 9px;
}

.card-container p {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 17px;
    width: 90%;
    margin: auto;
    color: rgba(108, 117, 125, 1);
    line-height: 28px;
    margin-bottom: 17px;
}

.price h4 {
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: #212529;
    padding-top: 4px;
}

.price {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 20px;
}

.price button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: 2px solid #FDC04E;
    border-radius: 50px;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    background-color: #FEFCEC;
}

.last-section {
    padding: 0px 13px;
    margin-top: 150px;
}

.last-section h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    margin-bottom: 9px;
}

.last-section p {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: rgba(108, 117, 125, 1);
    max-width: 70%;
    padding: 1rem 0;
    margin-bottom: 1rem;

}

.last-section button {
    cursor: pointer;
    font-size: 21px;
    font-family: "Nunito", sans-serif;
    padding: 8px 24px;
    border: 1px solid #FDC04E;
    background-color: #FEFCEC;
    border-radius: 50px;
    font-weight: 700;
    width: 50%;

}

.instructor-image {

    margin-top: 26px;
    padding-bottom: 50px;
}

.instructor-image img {
    width: 100%;
    height: auto;
}

footer {
    padding: 51px 13px 0px;
}

.footer-section h3 {
    font-size: 24px;
    font-family: 'Nuntio', sans-serif;
    margin-bottom: 9px;
    padding-top: 51px;
    text-align: center;
    color: #212529;
}

.social-icons {
    text-align: center;

}

.social-icons img {
    width: 51px;
    height: 51px;
    margin-top: 51px;
}

.social-icons :nth-child(2) {
    margin: 0px 34px;
}

.copyright h4 {
    text-align: center;
    padding-top: 51px;
    font-size: 22px;
    font-family: 'Nuntio', sans-serif;
    color: #212529;
    font-weight: 500;
    line-height: 1.2;


}

@media only screen and (min-width:472px) {
    .brandlogo {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .brandlogo>img {

        flex: 1 1 50%;
        padding: 10px 30px;
    }

    .brandlogo :nth-child(4) {
        padding-bottom: 45px;
    }


    @media only screen and (min-width:550px){
        .brandlogo{
            width: 82%;
            margin: auto;
        }
    }

}

@media only screen and (min-width:768px){
    .brandlogo > img{
        flex: 1 1 25%;
    }
    .brandlogo :nth-child(4) {
        padding-bottom: 55px;
    }
    }
